<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MONGOHQ_URL" value="mongodb://localhost:27020/OevelsesPlan" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" path="**/*.js" type="System.Web.StaticFileHandler" />
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="javascript" verb="GET,HEAD" path="**/*.js" type="System.Web.StaticFileHandler" />
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>