<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Øvelser</title>
	<style type="text/css" title="currentStyle">
		    @import "http://www.datatables.net//release-datatables/media/css/demo_page.css";
			@import "http://www.datatables.net//release-datatables//media/css/demo_table.css";
		</style>
        <script type="text/javascript" language="javascript" src="http://www.datatables.net//release-datatables/media/js/jquery.js"></script>
		<script type="text/javascript" language="javascript" src="http://www.datatables.net//release-datatables/media/js/jquery.dataTables.js"></script>
        <script type="text/javascript" language="javascript" src="http://www.datatables.net//release-datatables/examples/examples_support/jquery.jeditable.js"></script> 

		<script type="text/javascript" charset="utf-8">
		    $(document).ready(function () {
		        /* Add a click handler to the rows - this could be used as a callback */
		        $("#exercises tbody").click(function (event) {
		            $(oTable.fnSettings().aoData).each(function () {
		                $(this.nTr).removeClass('row_selected');
		            });
		            $(event.target.parentNode.parentNode.parentNode).addClass('row_selected');
		        });

                
                var oTable = $('#exercises').dataTable({
		            "bProcessing": true,
		            "sAjaxSource": "all",
		            "aoColumns": [
                    	{ "mDataProp": "Name" },
                        { "mDataProp": "MuscleGroup" },
			            { "mDataProp": "Muscle" },
			            { "mDataProp": "ActiveText" },
		            ],
		            "fnInitComplete": function () { fnMakeEditable(oTable) }
		        });

		        /* Add a click handler for the delete row */
		        $('#delete_exercise').click(function () {
		            var anSelected = fnGetSelected(oTable);
                     $.ajax({
                                type: "POST",
                                url: "delete",
                                data: {row_id: anSelected[0].id}, 
                                success: function (msg) {
                                    alert("Data Deleted: " + msg);
                                    oTable.fnDeleteRow(anSelected[0])
                                }
                            });
		        });

		        /* Add a click handler for the create row */
		        $('#create_exercise').click(function () {
		            event.preventDefault();
		            $.post("create",
                        function (new_exercise) {
                            oTable.fnAddData(new_exercise);
                            fnMakeEditable(oTable);
                        });
		        });
		    });

              /* Apply the jEditable handlers to the table */
             function fnMakeEditable(oTableLocal) {
                 $('td', oTableLocal.fnGetNodes()).editable('edit', {
                     "callback": function (sValue, y) {
                         var aPos = oTableLocal.fnGetPosition(this);
                         oTableLocal.fnUpdate(sValue, aPos[0], aPos[1]);
                     },
                     "submitdata": function (value, settings) {
                         return {
                             "row_id": this.parentNode.getAttribute('id'),
                             "column": oTableLocal.fnGetPosition(this)[2]
                         };
                     },
                     "height": "14px"
                 });
               }


		    /* Get the rows which are currently selected */
		    function fnGetSelected(oTableLocal) {
		        var aReturn = new Array();
		        var aTrs = oTableLocal.fnGetNodes();

		        for (var i = 0; i < aTrs.length; i++) {
		            if ($(aTrs[i]).hasClass('row_selected')) {
		                aReturn.push(aTrs[i]);
		            }
		        }
		        return aReturn;
		    }
		</script>
</head>
<body id="dt_example">
	<div id="container">
   
				<a href="/"> <div class="full_width big">Øvelsesplanlægger</div></a>
    <h1>Øvelser</h1>
    <div id="dynamic">
<table cellpadding="0" cellspacing="0" border="0" class="display" id="exercises">
	<thead>
		<tr>
			<th width="30%">Øvelse</th>
			<th width="30%">Muskelgruppe</th>
			<th width="30%">Muskel</th>
			<th width="10%">Aktiv</th>
		</tr>
	</thead>
	<tbody>
		
	</tbody>
</table>
            <p><a href="javascript:void(0)" id="delete_exercise">Slet den valgte øvelse</a></p>
            <p><a href="javascript:void(0)" id="create_exercise">Ny øvelse</a></p>
            </div>
            </div>
</body>
</html>
