<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ShouldFluent" version="1.1.12.0" />
  <package id="AutoFixture" version="2.1" />
  <package id="xunit" version="1.7.0.1540" />
  <package id="xunit.extensions" version="1.7.0.1540" />
  <package id="AutoFixture.Xunit" version="2.1" />
  <package id="mongocsharpdriver" version="1.1" />
  <package id="Nancy" version="0.7.1" />
  <package id="Nancy.Testing" version="0.7.1" />
  <package id="Nancy.Hosting.Aspnet" version="0.7.1" />
</packages>